[Desktop Entry]
Name=SkypeTab
Comment=SkypeTab
Exec=skypetab-ng
Icon=skype
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Network;Application;
