Source: skypetab-ng
Section: utils
Priority: extra
Maintainer: Nikita Tsukanov <keks9n@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libc6-dev, build-essential, qt4-qmake, libqt4-dev, libx11-dev
Standards-Version: 3.9.2
Vcs-Git: git://github.com/kekekeks/skypetab-ng.git
Vcs-Browser: https://github.com/kekekeks/skypetab-ng

Package: skypetab-ng
Architecture: i386
Depends: 
Description: SkypeTab is a program that adds tabs to Skype™ for Linux
