#!/usr/bin/make -f
clean:
	
build:
	qmake -spec linux-g++-32
	make
	cd launcher && qmake && make

install: build
	make install  INSTALL_ROOT=`pwd`/debian/skypetab-ng
	cd launcher && make install INSTALL_ROOT=`pwd`/../debian/skypetab-ng
	sed -i "s/exec skype/exec skypetab-prelaunch/" debian/skypetab-ng/usr/bin/skypetab-ng
binary-indep:

binary-arch: install
	dh_fixperms
	dh_compress
	dh_gencontrol
	dh_md5sums
	dh_builddeb
binary: binary-arch
